---
---
<!doctype html>
<html>
<head>
	<title>Thomas Preece - Tailored Website Development</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/js/scripts.js"></script>
	<meta charset="UTF-8"/>
</head>
<body>
	<div class="topbar">
		<div class="background"></div>
		<div class="inner">
			<h1>Thomas Preece</h1>
			<ul>
				{% for card in site.cards %}
					<li><a href="#{{ card.anchor}}">{{ card.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	{% for card in site.cards %}
		<a class="anchor" name="{{ card.anchor }}"></a>
		<div class="card {{ card.class }}">
			<div class="inner">
				{% unless card.notitle %}
					<h2>{{ card.title }}</h2>
				{% endunless %}
				{{ card.output }}
			</div>
			<div class="clear"></div>
		</div>
	{% endfor %}
	
	<div class="footer">
		<div class="inner">
			<div class="left">
				<p>Copyright &copy; 2016, Thomas Preece.<br />
				All rights reserved.</p>
			</div>
			<div class="right">
				<p>Image of the <a href="https://en.wikipedia.org/wiki/Clifton_Suspension_Bridge" target="_blank">Clifton Suspension Bridge</a><br />
				based on a photo by <a href="https://www.flickr.com/photos/sagesolar/7858490506" target="_blank">@sage_solar</a>.</p>
			</div>
		</div>
	</div>
</body>
</html>
